h1 {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.galleryContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  width: 900px;
  gap: 16px
}

.footer {
  width: 900px;
  margin-top: 20px;
  text-align: center;
}